.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    flex: 0 0 100%;
    float: left;
    margin-left: 2.5%;
    margin-top: 3%;
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    height: 100%;
}

.places h2 {
    font-size: 30px;
    margin-top: 0px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    margin-top: -72.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 5%;
    padding-top: 5px;

}

.max_guest {
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

.number_rooms {
    width: 100px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

.number_bathrooms {
    width: 100px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

.information p {
    margin-top: 50px;
}

.description {
    text-align: left;
}

.description p {
    margin-top: -5px;
}

.places .amenities {
    margin-top: 40px;
    width: 100%;

}

.reviews {
    margin-top: 40px;
    width: 100%;
}

.places .amenities h2 {
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

.reviews h2 {
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

.reviews ul {
    list-style: none;
    margin-left: -20px;
    margin-bottom: 50px;
}
.reviews ul li {
    margin-left: -20px;
}

.reviews .rev_ex {
    text-align: left;
    margin-left: 0px;
}
.reviews .rev_ex h3 {
    margin-left: 0px;
}

.reviews .rev_ex p {
    margin-top: -10px;
}

.places .amenities ul{
    list-style: none;
    padding: 0;
}

.amenities .tv {
    background-image: url(../images/icon_tv.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 20px;
    margin-top: 0;
}

.amenities p {
    text-align: left;
    margin-top: 0;
    margin-left: 30px;
}

.amenities .wifi {
    background-image: url(../images/icon_wifi.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 20px;
    margin-top: 0;
}

.amenities .pets {
    background-image: url(../images/icon_pets.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 20px;
    margin-top: 0;
}

@media only screen and (max-width: 450px) {
    .locations {
        height: 100%;
        width: 30%;
        text-align: center;
    }

    .amenities {
        height: 100%;
        width: 30%;
        text-align: center;
    }

    div h3 {
        font-weight: 600;
        margin-left: 0%;
        margin-top: 20px;
        font-size: 24px;
    }

    .locations h4 {
        display: none;
    }
    .amenities h4 {
        display: none;
    }

    .popover{
        width: 100%;
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        margin-top: -3px;
        padding-top: 20px;
        position: relative;
        visibility: hidden;
        z-index: 1;
        text-align: left;
    }
    .reviews h2 {
        text-align: left;
        font-size: 16px;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
    }

    .reviews h2 {
        font-size: 16px;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
    }

    .reviews ul {
        list-style: none;
        margin-left: -20px;
        margin-bottom: 50px;
    }
    .reviews ul li {
        margin-left: -20px;
    }

    .reviews .rev_ex {
        text-align: left;
        margin-left: 0px;
    }
    .reviews .rev_ex h3 {
        margin-left: 0px;
    }

    .reviews .rev_ex p {
        margin-top: -10px;
    }

    .places .amenities ul{
        list-style: none;
        padding: 0;
    }
}

@media only screen and (max-width: 650px) {
    .locations {
        height: 100%;
        width: 30%;
        text-align: center;
    }

    .amenities {
        height: 100%;
        width: 30%;
        text-align: center;
    }

    div h3 {
        font-weight: 600;
        margin-left: 0%;
        margin-top: 20px;
        font-size: 24px;
        padding-left: 25%;
    }

    .locations h4 {
        display: none;
    }
    .amenities h4 {
        display: none;
    }

    .popover{
        width: 100%;
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        margin-top: -3px;
        padding-top: 20px;
        position: relative;
        visibility: hidden;
        z-index: 1;
        text-align: left;
    }
    .reviews h2 {
        text-align: left;
        font-size: 16px;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
    }

    .reviews h2 {
        font-size: 16px;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
    }

    .reviews ul {
        list-style: none;
        margin-left: -20px;
        margin-bottom: 50px;
    }
    .reviews ul li {
        margin-left: -20px;
    }

    .reviews .rev_ex {
        text-align: left;
        margin-left: 0px;
    }
    .reviews .rev_ex h3 {
        margin-left: 0px;
    }

    .reviews .rev_ex p {
        margin-top: -10px;
    }

    .places .amenities ul{
        list-style: none;
        padding: 0;
    }
}
